<div class="container">
    <form >
        <div class="row">
 
            <div class="col-lg-3">
                <div class="form-group">
        <label for="name" class="mr-4">Name:</label>
        <span>{{resultData.name}}</span>
        
    </div>    
    </div>
    
    <div class="col-lg-3">
        <div class="form-group">
    <label for="mobileno" class="mr-4">Mobile No:</label>
    <span>{{resultData.mobileno}}</span>
    </div>    
    </div>
   
    <div class="col-lg-3">
        <div class="form-group">
    <label for="number1" class="mr-4">Number 1</label>
    <span>{{resultData.number1}}</span>
    </div>    
    </div>
    <div class="col-lg-3">
        <div class="form-group">
    <label for="number2" class="mr-4">Number 2</label>
    <span>{{resultData.number2}}</span>
    </div>    
    </div>
    <div class="col-lg-3">
        <div class="form-group">
    <label for="number3" class="mr-4">Number 3:</label>
    <span>{{resultData.number3}}</span>
    </div>    
    </div>
    <div class="col-lg-3">
        <div class="form-group">
    <label for="genderselect" class="mr-4">Gender:</label>
    <span>{{resultData.genderselect}}</span>
    </div>    
    </div>
    <div class="col-lg-3">
        <div class="form-group">
    <label for="skillsUpdate" class="mr-4">Skills:</label>
    <span>{{resultData.skillsUpdate}}</span>
    </div>    
    </div>
    <div class="col-lg-3">
        <div class="form-group">
    <label for="skillsUpdate" class="mr-4">Hobbies:</label>
    <span>{{resultData.hobbiesArray}}</span>
    </div>    
    </div>
    <div class="col-lg-3">
        <button type="submit" class="btn btn-primary" routerLink="/list">Cancel</button>
    </div>
    </div>
    </form>
    </div>